/**/
/*serifはセリフ風フォント*/
/*cursiveは手書き風フォント(日本語に対応してない場合が多い)*/
/*@importは一番初めにまとめて書かないといけない*/
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

/**/
/*●●●●●●●●●●●●●●●●●●●●*/
.font_Shippori_Mincho_B1 {
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 500;
}
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
.font_Dancing_Script {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
}
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
.font_Zen_Maru_Gothic {
  font-family: 'Zen Maru Gothic', serif;
  font-weight: 500;
}
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
.font_Black_Ops_One {
  font-family: 'Black Ops One', serif;
  font-weight: 400;
}
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
.font_Tourney {
  font-family: 'Tourney', sans-serif;
  font-weight: 400;
}
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
.font_Silkscreen {
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
}
/*●●●●●●●●●●●●●●●●●●●●*/
.font_Kablammo {
  font-family: 'Kablammo', sans-serif;
  font-weight: 400;
}
/*●●●●●●●●●●●●●●●●●●●●*/
.font_Kelly_Slab {
  font-family: 'Kelly Slab', sans-serif;
  font-weight: 400;
}
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
/*●●●●●●●●●●●●●●●●●●●●*/
