/**/
.version_num {
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  background-color: transparent; /* 背景色を指定する */
  /*color: rgba(0,0,0,1);*/
 /* フォントの色はhtmlのstyleで指定する */
  font-size: 25px;
  font-family: "メイリオ";
  font-style: italic; /* 斜め字にする(英字は斜めになる、日本語(メイリオ)は斜めにならない) */
  font-weight: normal; /* 太字 */
}
/**/
.version_str {
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  background-color: transparent; /* 背景色を指定する */
  /*color: rgba(0,0,0,1);*/
 /* フォントの色はhtmlのstyleで指定する */
  font-size: 15px;
  font-family: "メイリオ";
  font-style: normal; /* 普通の文字 */
  font-weight: normal; /* 普通の文字  */
}
/**/
/**/
/**/
/* フェードイン用のCSS */
/* 上からフェードイン */
.slide-top {
	opacity: 0;
	transform: translate(0, -20px);
	transition: all 1s ease-out;
 }

/* 下からフェードイン */
.slide-bottom {
	opacity: 0;
	transform: translate(0, 20px);
	transition: all 1s ease-out;
 }

 /* 左からフェードイン */
.slide-left {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: all 0.5s ease-out;
 }

/* 右からフェードイン */
.slide-right {
	opacity: 0;
	transform: translate(50px, 0);
	transition: all 0.5s ease-out;
 }
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
