/**/
.headers {
  z-index: 9999;
  display: flex; /*横並び*/
  position: fixed; /* ヘッダーを固定する */
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: auto; /* ヘッダーの横幅を指定する */
  height: 45px; /* ヘッダーの高さを指定する */
  padding: 10px; /* ヘッダー内側の余白を指定する(上下左右) */
  background-color: rgba(255, 255, 255, 0.1); /*#ffffff; /* ヘッダーの背景色を指定する */
  color: #000000; /* ヘッダーのフォントの色を指定する */
}
/**/
/**/
body {
  margin-top: 65px; /*headerの高さと同じだけ上部にマージンを作る*/
/**/
  /*background:linear-gradient(#56C500, #fff); */
  /**/
  background:
	linear-gradient(27deg, #0e0f14 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #0e0f14 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #14151f 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #14151f 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #14151c 10px, transparent 10px),
	linear-gradient(#15151c 25%, #12131a 25%, #12131a 50%,
		transparent 50%, transparent 75%, #191b24 75%, #191b24);
	background-color: #0c0d12;
	background-size: 20px 20px;


}
/**/
/**/
