/**/
#header {
  z-index: 9999;
  display: flex; /*横並び*/
  position: fixed; /* 固定する */
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* 横幅を指定する */
  height: 75px; /* 高さを指定する */
  box-sizing: border-box;/**/
  padding: 10px; /* 内側の余白を指定する(上下左右) */
  border-bottom: 1px solid rgba(150, 150, 150, 1.0);
  /**/
  background-color: rgba(255, 255, 255, 0.95); /* 背景色を指定する */
  box-shadow: 0px 0px 50px 1px rgba(180, 180, 200, 0.95) inset;
  color: #000000; /* フォントの色を指定する */
}
/**/
#header img{
  height: 50px;
  width: auto;
}
/**/
/**/
#footer {
  z-index: 9999;
  pointer-events: none;
  /*display: block;/**/
  position: fixed; /* 固定する */
  bottom: 0; /* 下部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* 横幅を指定する */
  height: 50px; /* 高さを指定する */
  box-sizing: border-box;/**/
  padding: 2px; /* 内側の余白を指定する(上下左右) */
  border-top: 1px solid rgba(150, 150, 150, 1.0);
  /**/
  background-color: rgba(255, 255, 255, 0.95); /* 背景色を指定する */
  box-shadow: 0px 0px 20px 1px rgba(50, 50, 50, 0.95) inset;
  color: #000000; /* フォントの色を指定する */
}
/**/

/**/
.footers div {
  user-select: none; /*文字列はドラッグ選択できなくする*/
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
  width: auto;
  height: 25px; /* 高さを指定する */
  font-size: 12px;
  font-family: 'Kelly Slab', sans-serif;
  font-weight: 400;
  /**/
}
.footers span {
  user-select: none; /*文字列はドラッグ選択できなくする*/
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
  width: 65px;
  height: 20px; /* 高さを指定する */
  font-size: 12px;
  font-family: 'Kelly Slab', sans-serif;
  font-weight: 400;
  /**/
  padding: 0px 4px; /*上下は0、左右は5を指定*/
  border: 1px solid rgba(0, 0, 0, 0.8);

}
/**/
body {
  min-width: 300px; /* ページの最小横幅を指定 */
  margin-top: 75px; /*bodyの上部マージンにheader+paddingの高さ以上を値指定する*/
  margin-bottom: 50px; /*bodyの下部マージンにfooter+padding高さ以上を値指定する*/
  padding: 10px 10px; /*bodyの左右にpaddingを指定する*/
/**/
  /*background: linear-gradient(to left, #43c6ac, #f8ffae);*/
  /*background: linear-gradient(to left, #e8cbc0, #636fa4); */
  background: linear-gradient(to left, #faecc8 , #8a75b0 , #ceb6cc, #faecc8 , #fad7d5 , #7795aa, #ad9ec5 , #e3d6e2 , #fff0d9 ,#f9d8af ,#9d9ba6 , #526781 ,#c5d0d2 , #efb37f ,#b8677a); 
  background-size: 5000% 5000%;/*サイズを大きくひきのばす*/
  animation: bggradient 120s ease infinite;
  /**/
}
/**/
@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/**/
